:root {
    --clr-primary: #2196f3;
    --clr-secondary-lndpage: #767676;
    --clr-secondary-para: #777;
    --clr-section-back: #ececec;
    --clr-footer: #191919;

    --ff-website: 'Cairo', sans-serif;

    --section-padding-updwon: 30px;

    --transition: 0.5s;
    --timing04: 0.4s;
    --timing03: 0.3s;
}

* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    font-family: var(--ff-website);
    scroll-behavior: smooth;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

/* Start header Section */

.header {
    position: relative;
    box-shadow: 0 0px 10px -5px grey;
    z-index: 2;
    background-color: white;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    position: relative;
}

.header .logo {
    color: var(--clr-primary);
    font-size: 25px;
    font-weight: bold;
    text-decoration: none;
}

@media (max-width: 767px) {
    .header .container {
        flex-direction: column;
    }

    .header .logo {
        margin-top: 10px;
    }
}

.header .main-list {
    list-style: none;
    display: flex;
}

.header .main-list>li {
    height: 72px;
}

.header .main-list>li>a {
    text-decoration: none;
    font-size: 18px;
    color: black;
    display: flex;
    height: 100%;
    padding: 0 30px;
    align-items: center;
    position: relative;
    z-index: 1;
}

@media (max-width: 767px) {
    .header .main-list>li {
        height: 50px;
    }

    .header .main-list>li>a {
        padding: 0 15px;
        font-size: 14px;
    }

}

.header .main-list>li>a::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 4px;
    background-color: var(--clr-primary);
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.header .main-list>li>a::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: #fafafa;
    z-index: -1;
    transition: var(--transition);
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.header .main-list>li>a:hover::before {
    width: 100%;

}

.header .main-list>li>a:hover::after {
    height: 100%;
}

.header .main-list>li>a:hover {
    color: var(--clr-primary);
}

.header .main-list>li:last-child:hover .second-menue {
    display: grid;
}

.header .main-list li .second-menue {
    position: absolute;
    background-color: white;
    width: calc(100% + 10px);
    padding: 30px;
    left: -10px;
    top: 104px;
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    gap: 30px;
    border-bottom: 3px solid var(--clr-primary);
    display: none;
    -webkit-animation: upgo 0.2s ease forwards;
    -moz-animation: upgo 0.2s ease forwards;
    animation: upgo 0.2s ease forwards;
}

.header .main-list li .second-menue img {
    max-width: 100%;
}

@keyframes upgo {
    to {
        top: 73px;
    }
}

@media (max-width: 767px) {
    .header .main-list li .second-menue img {
        display: none;
    }

    .header .main-list li .second-menue {
        top: 90px;
    }

    .header .main-list>li:last-child:hover .second-menue {
        display: flex;
        flex-direction: column;
        gap: 0;
        margin-top: 16.5px;
        padding: 0;
    }
}

@media (min-width: 768px) and (max-width:991px) {
    .header .main-list li .second-menue {
        grid-template-columns: repeat(2, calc(50% - 15px));
    }

    .header .main-list li .second-menue img {
        display: none;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .header .main-list li .second-menue {
        grid-template-columns: 1fr 1fr 1fr;
    }
}

.header .main-list li>.second-menue ul {
    list-style: none;
}

.header .main-list li>.second-menue ul li {
    cursor: pointer;
    position: relative;
    z-index: 1;
}

.header .main-list li>.second-menue ul li:not(:last-child) {
    border-bottom: 1px solid var(--clr-section-back);
}

@media (max-width: 767px) {
    .header li>.second-menue .list-one li:last-child {
        border-bottom: 1px solid var(--clr-section-back);

    }
}

.header .main-list li>.second-menue ul li a {
    text-decoration: none;
    color: var(--clr-primary);
    font-size: 18px;
    font-weight: bold;
    display: block;
    padding: 15px 20px;
}

.header .main-list li>.second-menue ul li i {
    margin-right: 15px;
    padding: 0 15px;
}


.header li>.second-menue ul li::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    height: 100%;
    width: 0;
    background-color: #fafafa;
    transition: var(--transition);
    z-index: -1;
    -webkit-transition: var(--transition);
    -moz-transition: var(--transition);
    -ms-transition: var(--transition);
    -o-transition: var(--transition);
}

.header li>.second-menue ul li:hover::before {
    width: 100%;
}

/* End header Section */
/* Start Landing Section */
.landing-page {
    height: calc(100vh - 72px);
    width: 100%;
    position: relative;
    z-index: 1;
}

.landing-page::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 93%;
    background-color: var(--clr-section-back);
    z-index: -1;
    transform: skewY(-6.5deg) scaleY(1.5);
    top: -235px;
    -webkit-transform: skewY(-6.5deg) scaleY(1.5);
    -moz-transform: skewY(-6.5deg) scaleY(1.5);
    -ms-transform: skewY(-6.5deg) scaleY(1.5);
    -o-transform: skewY(-6.5deg) scaleY(1.5);
}

.landing-page .container {
    display: flex;
    margin-top: var(--section-padding-updwon);
    align-items: center;
    padding-top: 40px;
}

@media (max-width:767px) {
    .landing-page {
        padding-left: 10px;
        padding-right: 10px;
    }

    .landing-page::before {
        height: 103%;
    }
}


@media (max-width:992px) {
    .landing-page {
        padding-top: 140px;
    }

    .landing-page .container img {
        display: none;
    }

    .landing-page .container {
        justify-content: center;
        align-items: center;
        text-align: center;
    }
}

.landing-page .container img {
    -webkit-animation: up-and-dwon 4.5s linear infinite;
    -moz-animation: up-and-dwon 4.5s linear infinite;
    animation: up-and-dwon 4.5s linear infinite;
}

@keyframes up-and-dwon {
    50% {
        transform: translateY(-40px);
        -webkit-transform: translateY(-40px);
        -moz-transform: translateY(-40px);
        -ms-transform: translateY(-40px);
        -o-transform: translateY(-40px);
    }

    100% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }
}

.landing-page .container h1 {
    font-size: 40px;
    letter-spacing: -1.5px;
    margin-bottom: 0;
}


.landing-page .container p {
    color: var(--clr-secondary-para);
    font-size: 23px;
    line-height: 1.8;
    margin-top: 10px;
}

@media (max-width:767px) {
    .landing-page .container h1 {
        font-size: 27px;
    }

    .landing-page .container p {
        font-size: 18px;
    }
}

.landing-page a {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: 40px;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.landing-page a i {
    font-size: 27px;
    color: var(--clr-primary);
    -webkit-animation: arrow 1s ease infinite;
    -moz-animation: arrow 1s ease infinite;
    animation: arrow 1s ease infinite;
}

@media (max-width:992px) {
    .landing-page a {
        position: absolute;
        bottom: 35px;
        left: 50%;
        transform: translateX(-50%);
        -webkit-transform: translateX(-50%);
        -moz-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        -o-transform: translateX(-50%);
    }
}

@keyframes arrow {
    0% {
        transform: translateY(0);
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
    }

    25% {
        transform: translateY(-15px);
        -webkit-transform: translateY(-15px);
        -moz-transform: translateY(-15px);
        -ms-transform: translateY(-15px);
        -o-transform: translateY(-15px);
    }

    35% {
        transform: translateY(15px) translateY(-15px);
        -webkit-transform: translateY(15px) translateY(-15px);
        -moz-transform: translateY(15px) translateY(-15px);
        -ms-transform: translateY(15px) translateY(-15px);
        -o-transform: translateY(15px) translateY(-15px);
    }

    55% {
        transform: translateY(-15px) translateY(15px) translateY(-15px);
        -webkit-transform: translateY(-15px) translateY(15px) translateY(-15px);
        -moz-transform: translateY(-15px) translateY(15px) translateY(-15px);
        -ms-transform: translateY(-15px) translateY(15px) translateY(-15px);
        -o-transform: translateY(-15px) translateY(15px) translateY(-15px);
    }

    70% {
        transform: translateY(15px) translateY(-15px) translateY(15px) translateY(-15px);
        -webkit-transform: translateY(15px) translateY(-15px) translateY(15px) translateY(-15px);
        -moz-transform: translateY(15px) translateY(-15px) translateY(15px) translateY(-15px);
        -ms-transform: translateY(15px) translateY(-15px) translateY(15px) translateY(-15px);
        -o-transform: translateY(15px) translateY(-15px) translateY(15px) translateY(-15px);
    }

    100% {
        transform: translate(0);
        -webkit-transform: translate(0);
        -moz-transform: translate(0);
        -ms-transform: translate(0);
        -o-transform: translate(0);
    }

}

/* End Landing Section */
/* Start Articles Section */
.articles {
    padding: 90px 0;
}

.main-header {
    text-align: center;
    padding-bottom: 70px;
}

.main-header .topic {
    border: 2px solid black;
    text-transform: uppercase;
    font-size: 30px;
    font-weight: 700;
    width: fit-content;
    margin: 0 auto;
    padding: 10px 20px;
    position: relative;
}

.main-header .topic::before {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--clr-primary);
    top: 50%;
    transform: translateY(-50%);
    left: -30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-header .topic::after {
    position: absolute;
    content: "";
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: var(--clr-primary);
    top: 50%;
    transform: translateY(-50%);
    right: -30px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.main-header .topic:hover::before {
    -webkit-animation: left-dot var(--transition) linear forwards;
    -moz-animation: left-dot var(--transition) linear forwards;
    animation: left-dot var(--transition) linear forwards;
}

.main-header .topic:hover::after {
    -webkit-animation: right-dot var(--transition) linear forwards;
    -moz-animation: right-dot var(--transition) linear forwards;
    animation: right-dot var(--transition) linear forwards;

}

.main-header .topic:hover {
    -webkit-animation: box-title 0.2s 0.5s forwards;
    -moz-animation: box-title 0.2s 0.5s forwards;
    animation: box-title 0.2s 0.5s forwards;
}

@keyframes box-title {
    100% {
        border: 2px solid #e1dcdc;
        color: white;
    }
}

@keyframes left-dot {
    50% {
        left: -1px;
        border-radius: 0;
        z-index: -1;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    100% {
        left: -1px;
        border-radius: 0;
        z-index: -1;
        height: 101%;
        width: 51%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

@keyframes right-dot {
    50% {
        right: -1px;
        border-radius: 0;
        z-index: -1;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    100% {
        right: -1px;
        border-radius: 0;
        z-index: -1;
        height: 101%;
        width: 51%;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }
}

.articles .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    gap: 40px;
}


.articles .content .card img {
    width: 100%;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.articles .content .card {
    box-shadow: 0 0 15px -3px lightgrey;
    border-radius: 7px;
    position: relative;
    top: 0;
    transition: top var(--timing03);
    -webkit-transition: top var(--timing03);
    -moz-transition: top var(--timing03);
    -ms-transition: top var(--timing03);
    -o-transition: top var(--timing03);
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.articles .content .card:hover {
    top: -10px;
}

.articles .content .card:hover i {
    position: relative;
}

.articles .content .card:hover i {
    -webkit-animation: arrow-right 0.6s linear infinite;
    -moz-animation: arrow-right 0.6s linear infinite;
    animation: arrow-right 0.6s linear infinite;
}

@keyframes arrow-right {
    to {
        transform: translateX(7px);
        -webkit-transform: translateX(7px);
        -moz-transform: translateX(7px);
        -ms-transform: translateX(7px);
        -o-transform: translateX(7px);
    }
}

.articles .content .card .card-bottom {
    padding: 20px;
    color: var(--clr-primary);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.articles .content .card .card-bottom a {
    font-weight: bold;
    text-decoration: none;
    color: var(--clr-primary);
}


.articles .content .card h3 {
    padding: 20px;
}

.articles .content .card p {
    padding: 0 20px 20px;
    line-height: 1.5;
    color: var(--clr-secondary-para);
    border-bottom: 1px solid var(--clr-section-back);
}

.triangles::after {
    content: "";
    position: absolute;
    right: 0;
    width: 100%;
    height: 30px;
    z-index: 1;
    background-image: linear-gradient(135deg, white 25%, transparent 25%), linear-gradient(225deg, white 25%, transparent 25%);
    background-size: 30px 30px;
}

/* End Articles Section */

/* Start Galary Section */
.galary {
    padding: 90px 0;
    background-color: var(--clr-section-back);
    position: relative;
    z-index: 0;
}

.galary .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 40px;
}

.galary .content .box img {
    width: 100%;
    transition: transform var(--timing04);
    -webkit-transition: transform var(--timing04);
    -moz-transition: transform var(--timing04);
    -ms-transition: transform var(--timing04);
    -o-transition: transform var(--timing04);
}

.galary .content .box::before {
    position: absolute;
    content: "";
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 0;
    height: 0;
    background-color: rgba(255, 255, 255, 20%);
    z-index: 1;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.galary .content .box {
    background-color: white;
    border: 15px solid white;
    box-shadow: 0 0 15px 5px lightgrey;
    overflow: hidden;
    position: relative;

}

.galary .content .box:hover img {
    transform: rotate(5deg) scale(1.1);
    -webkit-transform: rotate(5deg) scale(1.1);
    -moz-transform: rotate(5deg) scale(1.1);
    -ms-transform: rotate(5deg) scale(1.1);
    -o-transform: rotate(5deg) scale(1.1);
}

.galary .content .box:hover::before {
    -webkit-animation: glow var(--timing04) linear forwards;
    -moz-animation: glow var(--timing04) linear forwards;
    animation: glow var(--timing04) linear forwards;
}

@keyframes glow {
    50% {
        width: 100%;
        height: 100%;
        opacity: 1;
    }

    100% {
        width: 100%;
        height: 100%;
        opacity: 0;
    }
}

/* End Galary Section */
/* Start Features Section */
.features {
    padding: 90px 0;
}

.features .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 40px;
}

.features .content .card img {
    width: 100%;
}

.features .content .card {
    border: 1px solid #ccc;
    text-align: center;
    position: relative;
}

.features .content .card h3 {
    margin: 0 auto;
    padding: 10px 0;
    font-size: 35px;
    width: fit-content;
    position: relative;
    z-index: 1;
    background-color: white;
}

.features .content .card:first-child h3::before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 80px;
    height: 5px;
    background-color: #f44036;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.features .content .card:nth-child(2) h3::before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 50px;
    height: 5px;
    background-color: #009688;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.features .content .card:last-child h3::before {
    position: absolute;
    content: "";
    bottom: -10px;
    left: 50%;
    transform: translateX(-50%);
    width: 90px;
    height: 5px;
    background-color: #03a9f4;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
}

.features .content .card p {
    margin-top: 40px;
    padding: 0 30px;
    color: var(--clr-secondary-para);
    font-size: 19px;
    line-height: 2;
    position: relative;
    z-index: 1;
}

.features .content .card a {
    display: inline-block;
    text-decoration: none;
    margin-top: 50px;
    border: 3px solid;
    border-radius: 5px;
    padding: 10px 30px;
    margin-bottom: 30px;
    font-weight: bold;
    font-size: 20px;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.features .content .card:first-child a::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    height: calc(100% + 2px);
    width: 0;
    background-color: #f44036;
    transition: width var(--timing04);
    z-index: -1;
    -webkit-transition: width var(--timing04);
    -moz-transition: width var(--timing04);
    -ms-transition: width var(--timing04);
    -o-transition: width var(--timing04);
}

.features .content .card:nth-child(2) a::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    height: calc(100% + 2px);
    width: 0;
    background-color: #009688;
    transition: width var(--timing04);
    z-index: -1;
    -webkit-transition: width var(--timing04);
    -moz-transition: width var(--timing04);
    -ms-transition: width var(--timing04);
    -o-transition: width var(--timing04);
}

.features .content .card:last-child a::before {
    position: absolute;
    content: "";
    top: -1px;
    left: -1px;
    height: calc(100% + 2px);
    width: 0;
    background-color: #03a9f4;
    transition: width var(--timing04);
    z-index: -1;
    -webkit-transition: width var(--timing04);
    -moz-transition: width var(--timing04);
    -ms-transition: width var(--timing04);
    -o-transition: width var(--timing04);
}

.features .content .card:hover a::before {
    width: calc(100% + 2px)
}

.features .content .card:hover a {
    -webkit-animation: color-change var(--timing04) ease forwards;
    -moz-animation: color-change var(--timing04) ease forwards;
    animation: color-change var(--timing04) ease forwards;
}

@keyframes color-change {
    to {
        color: white;
    }
}

.features .content .card:first-child a {
    border-color: #f44036;
    color: #f44036;
}

.features .content .card:nth-child(2) a {
    border-color: #009688;
    color: #009688;
}

.features .content .card:last-child a {
    border-color: #03a9f4;
    color: #03a9f4;
}

.features .content .card:first-child:hover::before {
    transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
    -webkit-transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
    -moz-transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
    -ms-transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
    -o-transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
}

.features .content .card:first-child::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 50%;
    background-color: white;
    z-index: 1;
    transform: skewY(-18deg);
    transition: transform var(--timing04);
    -webkit-transition: transform var(--timing04);
    -moz-transition: transform var(--timing04);
    -ms-transition: transform var(--timing04);
    -o-transition: transform var(--timing04);
}

.features .content .card:nth-child(2):hover::before {
    transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
    -webkit-transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
    -moz-transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
    -ms-transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
    -o-transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
}

.features .content .card:nth-child(2)::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 50%;
    background-color: white;
    z-index: 1;
    transform: skewY(-18deg);
    transition: transform var(--timing04);
    -webkit-transition: transform var(--timing04);
    -moz-transition: transform var(--timing04);
    -ms-transition: transform var(--timing04);
    -o-transition: transform var(--timing04);
}

.features .content .card:last-child:hover::before {
    transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
    -webkit-transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
    -moz-transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
    -ms-transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
    -o-transform: rotateY(150deg) skewY(-18deg) scaleX(1.155);
}

.features .content .card:last-child::before {
    position: absolute;
    content: "";
    left: 0;
    bottom: 100px;
    width: 100%;
    height: 50%;
    background-color: white;
    z-index: 1;
    transform: skewY(-18deg);
    transition: transform var(--timing04);
    -webkit-transition: transform var(--timing04);
    -moz-transition: transform var(--timing04);
    -ms-transition: transform var(--timing04);
    -o-transition: transform var(--timing04);
}



.features .content .card:first-child::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 56%;
    background-color: rgb(255 0 0 / 50%);
}

.features .content .card:nth-child(2)::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 56%;
    background-color: rgb(0 137 123 / 50%);
}

.features .content .card:last-child::after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 56%;
    background-color: rgb(3 169 244 / 60%);
}

/* End Features Section */
/* Start Testimonails Section */
.testimonals {
    padding: 90px 0;
    background-color: var(--clr-section-back);
    position: relative;
    z-index: 0;
}

.testimonals .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 40px;
}

.testimonals .content .card img {
    position: absolute;
    width: 100px;
    top: -50px;
    right: -10px;
    border-radius: 50%;
    border: 10px solid var(--clr-section-back);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.testimonals .content .card {
    background-color: white;
    padding: 20px;
    border-radius: 7px;
    position: relative;
    box-shadow: 0 0 15px -1px lightgrey;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.testimonals .content .card h3 {
    margin-bottom: 10px;
}

.testimonals .content .card p:first-of-type {
    margin-bottom: 10px;
    color: var(--clr-secondary-para);

}

.testimonals .content .card .fa-solid {
    color: #ffc107;
}



.testimonals .content .card p:last-of-type {
    margin-top: 10px;
    color: var(--clr-secondary-para);
    line-height: 1.5;
}

/* End Testimonails Section */
/* Start team-members Section*/
.team-mempers {
    padding: 90px 0;
}

.team-mempers .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 30px;
}

.team-mempers .content .card img {
    width: 84%;
    border-radius: 10px;
    position: relative;
    transition: filter var(--timing03);
    -webkit-transition: filter var(--timing03);
    -moz-transition: filter var(--timing03);
    -ms-transition: filter var(--timing03);
    -o-transition: filter var(--timing03);
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.team-mempers .content .card:hover img {
    filter: grayscale(100%);
}

.team-mempers .content .card {
    border-radius: 10px;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.team-mempers .content .card::before {
    position: absolute;
    content: "";
    border-radius: 10px;
    width: 83%;
    height: 100%;
    right: 0;
    background-color: #f3f3f3;
    z-index: -1;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.team-mempers .content .card::after {
    position: absolute;
    content: "";
    border-radius: 10px;
    width: 0;
    height: 100%;
    right: 0;
    background-color: #e4e4e4;
    z-index: -1;
    top: 0;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.team-mempers .content .card:hover::after {
    width: 83%;
    transition: width var(--transition);
    -webkit-transition: width var(--transition);
    -moz-transition: width var(--transition);
    -ms-transition: width var(--transition);
    -o-transition: width var(--transition);
}

.team-mempers .content .card .links {
    display: flex;
    padding-top: 60px;
}

.team-mempers .content .card .links .icons {
    display: flex;
    flex-direction: column;
    margin-top: 70px;
    flex: 1;
    align-items: center;
}

.team-mempers .card .links .icons a {
    padding: 0 20px;
    margin-bottom: 30px;
    color: var(--clr-secondary-lndpage);
    transition: color var(--timing03);
    -webkit-transition: color var(--timing03);
    -moz-transition: color var(--timing03);
    -ms-transition: color var(--timing03);
    -o-transition: color var(--timing03);
}

.team-mempers .card .links .icons a:hover {
    color: #2196f3;
}

.team-mempers .card .links .icons a:last-child:hover {
    color: red;
}

.team-mempers .content .card h3 {
    position: relative;
    left: 22%;
    padding-top: 25px;
    color: var(--clr-primary);
    width: fit-content;
}

.team-mempers .content .card p {
    position: relative;
    left: 22%;
    padding: 10px 0 25px;
    width: fit-content;
}

/* End team-members Section*/
/* Start Services Section */
.services {
    padding: 90px 0;
    background-color: var(--clr-section-back);
    position: relative;
    z-index: 0;
}

.services .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 30px;
    counter-reset: cards;
}

.services .content .card {
    background-color: white;
    text-align: center;
    box-shadow: 0 0 15px 5px lightgrey;
    position: relative;
    top: 0;
    transition: top var(--timing03);
    -webkit-transition: top var(--timing03);
    -moz-transition: top var(--timing03);
    -ms-transition: top var(--timing03);
    -o-transition: top var(--timing03);
}

.services .content .card:hover {
    top: -10px;
}

.services .content .card::before {
    position: absolute;
    content: "";
    width: 0%;
    top: -3px;
    left: 50%;
    transform: translateX(-50%);
    height: 3px;
    background-color: var(--clr-primary);
    transition: width var(--timing03);
    -webkit-transition: width var(--timing03);
    -moz-transition: width var(--timing03);
    -ms-transition: width var(--timing03);
    -o-transition: width var(--timing03);
}



.services .content .card:hover::before {
    width: 100%;
}

.services .content .card i {
    color: #d5d5d5;
    font-size: 60px;
    padding-top: 30px;

}

.services .content .card h3 {
    color: var(--clr-primary);
    padding: 20px 0 40px;
    font-size: 25px;
}

.services .content .card .info {
    display: flex;
    justify-content: space-between;
    background-color: #f9f9f9;
    overflow: hidden;
}

.services .content .card .info .number {
    padding: 5px 25px;
    font-size: 30px;
    font-weight: 700;
    position: relative;
    z-index: 1;
    color: white;
}

.services .content .card .info .number::before {
    position: absolute;
    content: "";
    width: calc(100% + 40px);
    height: 100%;
    left: -21px;
    top: 0;
    background-color: var(--clr-primary);
    z-index: -1;
    transform: skewX(-32deg);
    -webkit-transform: skewX(-32deg);
    -moz-transform: skewX(-32deg);
    -ms-transform: skewX(-32deg);
    -o-transform: skewX(-32deg);
}

.services .content .card .info .number::after {
    position: absolute;
    content: "";
    width: 50px;
    height: 100%;
    left: 80px;
    top: 0;
    background-color: #d5d5d5;
    z-index: -1;
    transform: skewX(-32deg);
    -webkit-transform: skewX(-32deg);
    -moz-transform: skewX(-32deg);
    -ms-transform: skewX(-32deg);
    -o-transform: skewX(-32deg);
}

.services .content .card .info p {
    align-self: center;
    margin-right: 15px;
    color: var(--clr-primary);
}

.services .content .card .info::before {
    position: absolute;
    counter-increment: cards;
    content: counter(cards);
    z-index: 2;
    color: white;
    font-size: 30px;
    font-weight: 700;
    padding-left: 42px;
    padding-top: 5px;
}

/* End Services Section */
/* Start OurSlills Section */
.ourskills {
    padding: 90px 0;
}

.ourskills .content {
    display: flex;
    align-items: center;
}

@media (max-width:991px) {
    .ourskills .content img {
        display: none;
    }
}

.ourskills .content .bars {
    flex: 1;
}

.ourskills .content .bars .bar {
    height: 30px;
    background-color: var(--clr-section-back);
    margin: 20px 0;
    position: relative;
}

.ourskills .content .bars .bar span {
    height: 100%;
    background-color: var(--clr-primary);
    display: block;
}

.ourskills .content .bars .bar:first-of-type::before {
    position: absolute;
    content: "80%";
    top: -40px;
    right: 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: var(--clr-primary);
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ourskills .content .bars .bar:nth-of-type(2)::before {
    position: absolute;
    content: "85%";
    top: -40px;
    right: 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: var(--clr-primary);
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ourskills .content .bars .bar:nth-of-type(3)::before {
    position: absolute;
    content: "70%";
    top: -40px;
    right: 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: var(--clr-primary);
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.ourskills .content .bars .bar:nth-of-type(4)::before {
    position: absolute;
    content: "80%";
    top: -40px;
    right: 0;
    border: 1px solid lightgray;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
    color: var(--clr-primary);
    padding: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

/* End OurSlills Section */
/* Start How it works Section */
.how-it-works {
    padding: 90px 0;
    background-color: var(--clr-section-back);
    position: relative;
    z-index: 0;
}

.how-it-works .content {
    display: flex;
    align-items: center;
}


.how-it-works .content .cards {
    margin-left: 100px;
}

.how-it-works .content>img {
    max-width: 100%;
    margin-bottom: 50px;
}

@media (max-width:767px) {
    .how-it-works .content .cards .card {
        flex-direction: column;
        text-align: center;
    }

    .how-it-works .content .cards .card .info {
        padding-left: 0;
        margin-top: 25px;
    }

}

@media (max-width:991px) {
    .how-it-works .content {
        flex-direction: column;
        align-items: center;
    }

    .how-it-works .content .cards {
        flex-direction: column;
        margin-left: 0;
    }


}


.how-it-works .content .card {
    background-color: #f6f5f5;
    display: flex;
    flex: 1;
    padding: 30px;
    border: 2px solid white;
    border-radius: 7px;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    z-index: 1;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.how-it-works .content .card::before {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ededed;
    z-index: -1;
    transition: all var(--timing03);
    border-radius: 5px;
    -webkit-transition: all var(--timing03);
    -moz-transition: all var(--timing03);
    -ms-transition: all var(--timing03);
    -o-transition: all var(--timing03);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
}

.how-it-works .content .card:hover::before {
    width: 100%;
    height: 100%;
}

.how-it-works .content .card img {
    width: 65px;
    height: 65px;
}

.how-it-works .content .card .info {
    padding-left: 30px;
}

.how-it-works .content .card .info h3 {
    padding-bottom: 10px;
    font-size: 22px;
}

.how-it-works .content .card .info p {
    line-height: 1.6;
    font-size: 18px;
    color: var(--clr-secondary-para);
}

/* End How it works Section */
/* Start Latest Events Section */
.latest-events {
    padding: 90px 0;
    position: relative;
    z-index: 1;
}

.latest-events .left {
    position: absolute;
    left: 0;
    bottom: 140px;
    z-index: -1;
}

.latest-events .right {
    position: absolute;
    right: 0;
    top: 140px;
    z-index: -1;
}

.latest-events .article {
    display: flex;
    align-items: center;
}


.latest-events .article img {
    width: 430px;
}

@media (max-width:991px) {
    .latest-events .article img {
        display: none;
    }

    .latest-events .article {
        justify-content: center;
    }
}

.latest-events .article .info-content {
    text-align: center;
}

.latest-events .article .info-content .counter {
    display: flex;
    justify-content: center;
}

.latest-events .info-content .counter .number {
    display: flex;
    flex-direction: column;
    border: 1px solid lightgray;
    border-radius: 7px;
    margin: 0 5px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.latest-events .counter .number span:first-child {
    color: var(--clr-primary);
    font-weight: bold;
    font-size: 33px;
    padding: 15px;
}

.latest-events .counter .number span:last-child {
    font-size: 13px;
    border-top: 1px solid lightgray;
    width: 100%;
    padding: 8px;
}

.latest-events .article .info-content .info {
    margin-top: 30px;
}


.latest-events .article .info-content .info h3 {
    font-size: 30px;
    padding-bottom: 20px;
}


.latest-events .article .info-content .info p {
    color: var(--clr-secondary-para);
    line-height: 1.8;
    font-size: 19px;
}

.latest-events .form {
    text-align: center;
    width: fit-content;
    margin: 0 auto;
    background-color: #f6f5f5;
    padding: 30px 40px;
    border-radius: 999px;
    margin-top: 70px;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}


.latest-events .form input[placeholder="Enter Your Email"] {
    border: none;
    padding: 20px;
    border-radius: 999px;
    padding-right: 150px;
    caret-color: var(--clr-primary);
    outline: none;
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}

.latest-events .form input[placeholder="Enter Your Email"]:focus::placeholder {
    color: white;
    transition: color var(--timing03);
    -webkit-transition: color var(--timing03);
    -moz-transition: color var(--timing03);
    -ms-transition: color var(--timing03);
    -o-transition: color var(--timing03);
}

.latest-events .form input[value="Subscribe"] {
    cursor: pointer;
    border: none;
    background-color: var(--clr-primary);
    color: white;
    padding: 20px;
    border-radius: 999px;
    margin-left: 15px;
    font-weight: 700;
    transition: color var(--timing03);
    -webkit-transition: color var(--timing03);
    -moz-transition: color var(--timing03);
    -ms-transition: color var(--timing03);
    -o-transition: color var(--timing03);
    -webkit-border-radius: 999px;
    -moz-border-radius: 999px;
    -ms-border-radius: 999px;
    -o-border-radius: 999px;
}

.latest-events .form input[value="Subscribe"]:hover {
    background-color: #1787e0;
    transition: background-color var(--timing03);
    -webkit-transition: background-color var(--timing03);
    -moz-transition: background-color var(--timing03);
    -ms-transition: background-color var(--timing03);
    -o-transition: background-color var(--timing03);
}


@media (max-width:767px) {
    .latest-events .form {
        display: flex;
        flex-direction: column;
        border-radius: 0;
        width: 100%;
        padding: 20px;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .latest-events .form input[placeholder="Enter Your Email"],
    .latest-events .form input[value="Subscribe"] {
        border-radius: 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        -ms-border-radius: 0;
        -o-border-radius: 0;
    }

    .latest-events .form input[value="Subscribe"] {
        margin-left: 0;
        margin-top: 20px;
    }
}

/* End Latest Events Section */
/* Start Pricing Plans */
.pricing-plans {
    padding: 90px 0;
    position: relative;
    background-color: var(--clr-section-back);
    z-index: 0;
}

.pricing-plans .left {
    position: absolute;
    left: 0;
    bottom: 140px;
    z-index: -1;
}

.pricing-plans .right {
    position: absolute;
    right: 0;
    top: 140px;
    z-index: -1;
}

.pricing-plans .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, auto));
    gap: 30px;
}


.pricing-plans .content .card {
    text-align: center;
    background-color: white;
    box-shadow: 0 0 15px 5px lightgrey;
    position: relative;
    z-index: 1;
}

.pricing-plans .content .card::before {
    position: absolute;
    content: "";
    height: 50%;
    width: 0;
    left: 0;
    top: 0;
    background-color: #f6f6f6;
    z-index: -1;
}

.pricing-plans .content .card::after {
    position: absolute;
    content: "";
    height: 50%;
    width: 0;
    right: 0;
    bottom: 0;
    background-color: #f6f6f6;
    z-index: -1;

}

.pricing-plans .content .card:hover::before,
.pricing-plans .content .card:hover::after {
    width: 100%;
    transition: width var(--timing04);
    -webkit-transition: width var(--timing04);
    -moz-transition: width var(--timing04);
    -ms-transition: width var(--timing04);
    -o-transition: width var(--timing04);
}

.pricing-plans .content .card:nth-child(2) {
    position: relative;
    bottom: 20px;
}

@media (max-width:1199px) {
    .pricing-plans .content .card:nth-child(2) {
        bottom: 0;
    }
}


.pricing-plans .content .card h3 {
    font-size: 25px;
    padding: 30px 0px;
}

.pricing-plans .content .card:nth-child(2) h3::before {
    position: absolute;
    content: "Most Popular";
    top: 56px;
    padding: 10px 40px 10px 10px;
    font-weight: bold;
    color: white;
    font-size: 18px;
    transform: rotate(90deg);
    right: -35px;
    background-color: var(--clr-primary);
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
}

.pricing-plans .content .card:nth-child(2) h3::after {
    position: absolute;
    content: "";
    border: 21px solid;
    border-color: transparent transparent white transparent;
    top: 113px;
    right: 21px;
}

.pricing-plans .content .card:nth-child(2):hover h3::after {
    border-color: transparent transparent #f6f6f6 transparent;
    transition: border-color 0.2s 0.2s;
    -webkit-transition: border-color 0.2s 0.2s;
    -moz-transition: border-color 0.2s 0.2s;
    -ms-transition: border-color 0.2s 0.2s;
    -o-transition: border-color 0.2s 0.2s;
}

.pricing-plans .content .card p {
    margin-top: 25px;
    color: var(--clr-secondary-para);
}

.pricing-plans .content .card span {
    font-size: 55px;
    font-weight: bold;
    color: var(--clr-primary);
}

.pricing-plans .content .card img {
    width: 80px;
}

.pricing-plans .content .card ul {
    text-align: start;
    list-style: none;
    margin-top: 20px;
}

.pricing-plans .content .card ul li {
    padding: 20px;
    border-top: 1px solid lightgray;

}

.pricing-plans .content .card ul li i {
    margin-right: 10px;
    color: var(--clr-primary);
}

.pricing-plans .content .card button {
    border: 2px solid var(--clr-primary);
    border-radius: 7px;
    background-color: transparent;
    padding: 15px;
    font-weight: bold;
    color: var(--clr-primary);
    font-size: 16px;
    margin: 15px 0 40px;
    cursor: pointer;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.pricing-plans .content .card button:hover {
    color: white;
    background-color: var(--clr-primary);
    transition: all var(--timing03);
    -webkit-transition: all var(--timing03);
    -moz-transition: all var(--timing03);
    -ms-transition: all var(--timing03);
    -o-transition: all var(--timing03);
}

/* End Pricing Plans */
/* Start Top Videos Section */
.top-videos {
    padding: 90px 0;
}

.top-videos .content {
    display: flex;
    justify-content: space-between;
}

.top-videos .content .picture {
    padding: 10px;
    background-color: #e2e2e2;
    border: 1px solid #e2e2e2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.top-videos .content .picture img {
    width: 820px;
    padding-bottom: 120px;
}

@media (max-width:991px) {
    .top-videos .content {
        flex-direction: column;
    }

    .top-videos .content .picture img {
        width: 100%;
        padding-bottom: 10px;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .top-videos .content .picture img {
        width: 620px;
    }
}

.top-videos .content .picture p {
    padding: 20px;
    background-color: white;
}

.top-videos .content .aside {
    display: flex;
    flex-direction: column;
    border: 1px solid #e2e2e2;
    flex: 1;
}

.top-videos .content .aside .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f4f4f4;
    padding: 20px;
}

.top-videos .content .aside ul {
    list-style: none;
    background-color: white;
}

.top-videos .content .aside ul li {
    padding: 20px;
    border-top: 1px solid #e2e2e2;
}

.top-videos .content .aside ul li:hover {
    cursor: pointer;
    background-color: #fafafa;
    transition: background-color var(--timing03);
    -webkit-transition: background-color var(--timing03);
    -moz-transition: background-color var(--timing03);
    -ms-transition: background-color var(--timing03);
    -o-transition: background-color var(--timing03);
}

.top-videos .content .aside ul li:hover p {
    color: var(--clr-primary);
    transition: color var(--timing03);
    -webkit-transition: color var(--timing03);
    -moz-transition: color var(--timing03);
    -ms-transition: color var(--timing03);
    -o-transition: color var(--timing03);
}

.top-videos .content .aside ul li p {
    margin-bottom: 10px;
}

.top-videos .content .aside ul li span {
    color: var(--clr-secondary-para);
}

/* End Top Videos Section */
/* Start Status Section */

.awesome-status {
    padding: 90px 0;
    position: relative;
    background-image: url(../images/stats.jpg);
    background-size: cover;
}

.awesome-status::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(255, 255, 255, 95%);
}

.awesome-status .container {
    position: relative;
    z-index: 1;
}

.awesome-status .container h2 {
    text-align: center;
    font-size: 40px;
    padding-bottom: 50px;
}

.awesome-status .container .cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    gap: 20px;
}

.awesome-status .container .cards .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    background-color: white;
    position: relative;
}

.awesome-status .container .cards .card::before {
    position: absolute;
    content: "";
    top: 0;
    right: 0;
    height: 0;
    width: 2px;
    background-color: var(--clr-primary);
}

.awesome-status .container .cards .card::after {
    position: absolute;
    content: "";
    bottom: 0;
    left: 0;
    height: 0;
    width: 2px;
    background-color: var(--clr-primary);
}

.awesome-status .container .cards .card:hover::before,
.awesome-status .container .cards .card:hover::after {
    height: 100%;
    transition: 1s;
    -webkit-transition: 1s;
    -moz-transition: 1s;
    -ms-transition: 1s;
    -o-transition: 1s;
}

.awesome-status .container .cards .card>i {
    font-size: 35px;
    padding: 30px 0 15px;
}


.awesome-status .container .cards .card span:nth-of-type(1) {
    font-weight: bold;
    font-size: 50px;
    padding-bottom: 10px;
}



.awesome-status .container .cards .card span:nth-of-type(2) {
    padding-bottom: 30px;
    color: var(--clr-primary);
    font-weight: bold;
    font-size: 19px;
}

/* End Status Section */
/* Start Discount Section */
.discount {
    position: relative;
    z-index: 1;
    background-size: cover;
    overflow: hidden;
}

.discount img:nth-child(1) {
    position: absolute;
    z-index: -1;
    /* width: 100%; */
    height: 100%;
    -webkit-animation: shiftting1 12s infinite;
    -moz-animation: shiftting1 12s infinite;
    animation: shiftting1 12s infinite;
}

.discount img:nth-child(2) {
    position: absolute;
    z-index: -2;
    /* width: 100%; */
    height: 100%;
}

@media (max-width:991px) {

    .discount img:nth-child(1),
    .discount img:nth-child(2) {
        height: 50%;
    }
}

@keyframes shiftting1 {
    0% {}

    25% {
        opacity: 0;
    }

    40% {
        opacity: 0;
    }

    75% {
        opacity: 1;
    }

    100% {
        opacity: 1;
    }
}

.discount .content {
    display: flex;
    justify-content: space-between;
}


.discount .content .left {
    width: 50%;
    position: relative;
    text-align: center;
    padding-bottom: 40px;
}

@media (max-width:991px) {
    .discount .content {
        flex-direction: column;
    }

    .discount .content .left {
        width: 100%;
        padding-bottom: 0;
    }
}

.discount .content .left::before {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgb(33 149 243 / 98%);
    z-index: -1;

}

.discount .content .left h3 {
    padding: 100px 0 40px;
    font-size: 40px;
    color: white;
    letter-spacing: -2px;
}

@media (max-width:991px) {
    .discount .content .left h3 {
        padding: 30px 0 40px;
    }
}

.discount .content .left p {
    color: white;
    font-size: 18px;
    line-height: 1.6;
    padding-bottom: 30px;
    max-width: 500px;
    margin: 0 auto;
    padding: 0 20px 40px;
}

.discount .content .left img:last-child {
    width: 300px;
}

.discount .content .right {
    width: 50%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 40px;
}

@media (max-width:991px) {
    .discount .content .right {
        width: 100%;
    }
}

.discount .content .right::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    background-color: white;
    z-index: -1;
}

.discount .content .right h3 {
    padding-top: 60px;
    font-size: 40px;
    letter-spacing: -2px;
}

@media (max-width:991px) {
    .discount .content .right h3 {
        padding-top: 30px;
    }
}

.discount .content .right .form {
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

.discount .content .right .form .input {
    padding: 15px;
    background-color: #f9f9f9;
    width: 300px;
    margin-bottom: 25px;
    border: none;
    border-bottom: 1px solid lightgray;
    outline: none;
    caret-color: var(--clr-primary);
}

.discount .content .right .form .input[value] {
    background-color: var(--clr-primary);
    border: none;
    color: white;
    font-weight: bold;
    font-size: 20px;
    cursor: pointer;
}

.discount .content .right .form textarea {
    height: 200px;
}

.discount .content .right .form .input[value]:hover {
    background-color: #1787e0;
    transition: background-color var(--timing03);
    -webkit-transition: background-color var(--timing03);
    -moz-transition: background-color var(--timing03);
    -ms-transition: background-color var(--timing03);
    -o-transition: background-color var(--timing03);
}

/* End Discount Section */
/* Start Footer Section */
.footer {
    padding-top: 70px;
    background-color: var(--clr-footer);
}

.footer .container .boxes {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, auto));
    gap: 30px;
}


.footer .container .boxes .box h3 {
    color: white;
    font-size: 40px;
}

.footer .container .boxes .box .icons {
    display: flex;
}

.footer .container .boxes .box .icons a {
    width: 50px;
    height: 50px;
    background-color: #313131;
    transition: background-color var(--timing03);
    margin: 20px 10px 20px 0;
    -webkit-transition: background-color var(--timing03);
    -moz-transition: background-color var(--timing03);
    -ms-transition: background-color var(--timing03);
    -o-transition: background-color var(--timing03);
}

.footer .container .boxes .box .icons a:nth-child(1):hover {
    background-color: #1877f2;
}

.footer .container .boxes .box .icons a:nth-child(2):hover {
    background-color: #1da1f2;
}

.footer .container .boxes .box .icons a:nth-child(3):hover {
    background-color: #ff0000;
}

.footer .container .boxes .box .icons a i {
    color: white;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 20px;
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    -o-transform: translate(-50%, -50%);
}

.footer .container .boxes .box p {
    color: #b9b9b9;
    line-height: 2;
}

.footer .container .boxes .box ul {
    list-style: none;
    width: 100%;
}

.footer .container .boxes .box ul li {
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    cursor: pointer;
}

.footer .container .boxes .box ul li .cont {
    display: flex;
    align-items: center;
    position: relative;
    left: 0;
    transition: left var(--timing03);
    -webkit-transition: left var(--timing03);
    -moz-transition: left var(--timing03);
    -ms-transition: left var(--timing03);
    -o-transition: left var(--timing03);
}

.footer .container .boxes .box ul li:hover .cont {
    left: 15px;
}

.footer .container .boxes .box ul li:hover p {
    color: white;
    transition: color var(--timing03);
    -webkit-transition: color var(--timing03);
    -moz-transition: color var(--timing03);
    -ms-transition: color var(--timing03);
    -o-transition: color var(--timing03);
}

.footer .container .boxes .box ul li:not(:last-of-type) {
    border-bottom: 1px solid #444;
}

.footer .container .boxes .box ul li:not(:first-of-type) {
    padding-top: 10px;
}

.footer .container .boxes .box ul li i {
    color: var(--clr-primary);
    margin-right: 10px;
}

.footer .container .boxes .box:nth-child(3) {
    display: flex;
    flex-direction: column;
}

.footer .container .boxes .box .info {
    display: flex;
    align-items: center;
}

.footer .container .boxes .box .info:not(:last-of-type) {
    margin-bottom: 20px;
}

.footer .container .boxes .box .info i {
    font-size: 25px;
    color: var(--clr-primary);
    margin-right: 15px;
}

.footer .container .boxes .box:last-child {
    display: grid;
    grid-template-columns: repeat(auto-fill, 70px);
    grid-template-rows: repeat(auto-fill, 70px);
    gap: 5px;
    height: fit-content;
}

.footer .container .boxes .box .boxin img {
    width: 70px;
    border: 2px solid white;
}

@Media (max-width:767px) {
    .footer .container .boxes .box:nth-child(1) {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer .container .boxes .box:nth-child(1) p {
        text-align: center;
    }

    .footer .container .boxes .box ul li {
        justify-content: center;
    }

    .footer .container .boxes .box:nth-child(3) .info {
        flex-direction: column;
        text-align: center;
        justify-content: center;
        align-items: center;
    }

    .footer .container .boxes .box:nth-child(3) .info i {
        margin: 20px 0 15px;
    }

    .footer .container .boxes .box:last-child {
        display: flex;
        gap: 5px;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.footer .the-end {
    text-align: center;
    padding: 20px;
    margin-top: 40px;
    color: white;
    border-top: 1px solid #444;
}

/* End Footer Section */
